<h1>Listing photos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @album.photos.each do |photo| %>
  <tr>
    <td><%= photo.title %></td>
    <td><%= link_to 'Show', album_photos_path(@album, photo) %></td>
    <td><%= link_to 'Edit', edit_album_photo_path(@album, photo) %></td>
    <td><%= link_to 'Destroy', album_photo_path(@album, photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_album_photo_path %>
